body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
    height: 100vh;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "sidebar header" 
                        "sidebar content";
}
.sidebar {
    padding-left: 1rem;
    color:aliceblue;
    background-color:dodgerblue;
    grid-area: sidebar;
    display:flex;
    flex-direction: column;
    gap:3rem;
}

.sidebar h3 {
    margin: 0;
    padding: 0;
}

.sidebar p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding:0;
}

.sidebar ul {
    list-style: none;
    margin:0;
    padding:0;
    font-weight: 600;
}

.sidebar li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.sidebar img {
    width: 1.5rem;;
}

.logo {
    display:flex;
    align-items: center;
    gap:0.5rem;
    margin-top: 1.2rem;
}

.logo img {
    width: 2rem;
}

.header {
    background-color: #f0f8ff;
    grid-area: header;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;

}

.content {
    background-color: rgba(220, 228, 235, 0.849);
    grid-area: content;
}



.searchbar img {
    width: 1.2rem;
}

.header form {
    align-self: center;
}

.header form input {
    border: none;
    border-radius: 5rem;
    background-color: lightgray;
    padding: 0.5rem;
    width: 40vw;
}

.searchbar {
    display: flex;
    gap: 1rem;
}

.avatarside {
    display: flex;
    align-items: center;
}

.avatarsmall {
    background:url(../landing/images/card1.jpeg) no-repeat center center / cover;
    padding: 1.2rem;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px;
}

.avatarside img {
    width: 2rem;
}
.greeting {
    display:flex;
    gap: 8px;

}
.avatarlarge {
    
    background:url(../landing/images/card1.jpeg) no-repeat center center / cover;
    padding: 1.8rem;
    margin: 0.25rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px;
}

.firstline, .secondline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.greetingtext {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap:0.2rem
}

.greetingtext h3 {
    align-self: center;
    margin:0;
}

.greetingtext p {
    align-self: flex-start;
    font-weight: 600;
    font-size: 14px;
    margin:0;
}

.buttons {
    align-self: center;
    display:flex;
    gap: 2rem;
}
 .buttons button {
    color: #f0f8ff;
    border: none;
    border-radius: 5rem;
    background-color:dodgerblue;
    padding: 0.5rem;
    width: 5rem
 }








@media only screen and (max-width: 768px) {
    body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
    height: 100vh;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "sidebar header" 
                        "sidebar content";
}

    .sidebar p, .sidebar h3 {
        visibility: hidden;
    }
    

    .sidebar img {
        width:100%;
        
    }

    .logo {
        margin-right:0.5rem;
    }

    .logo img {
        width:100%
    }

    .navigation, .settings {
        margin-right: 0.5rem;

    }

    .sidebar li {
        margin-top:0.25rem;
        margin-bottom: 0.25rem;
    }
}